{% extends 'navbar.html' %}
{% load crispy_forms_tags %}
{% block title_block %} {{user.user_profile.full_name}} (@{{user.username}}) {% endblock %}
{% block css_block %}
  <style>
    .crop{
      width: 230px;
      height: 260px;
      overflow: hidden;
      float: left;
    }
    .crop img{
      height: 260px;
      width: 230px;
      border: 1px solid #ddd;
      margin: 40px 5px 50px 0px;
      padding: 2px
      }
  </style>
{% endblock %}

{% block body_block %}
<div class="row">
  <div class="col-sm-4">
    {% if user.user_profile.profile_pic %}
      <img src="/media/{{user.user_profile.profile_pic}}" width='250px' height='250px' class='rounded-circle'>
    {% else %}
      <img src='/media/default.jpg' width='250px' height='250px' class='rounded-circle'>
    {% endif %}
  </div>
  <div class="col-sm-8">
    <h3>{{user.username}} &nbsp; <a href="{% url 'App_Login:edit'  %}" class='btn btn-light btn-sm'>Edit Profile</a></h3><br>
    <h4>{{user.post.count}} post &nbsp; &nbsp; {{user.following.count}} follower &nbsp; &nbsp; {{user.follower.count}} following</h4>
    <br>
    <h4>{{user.user_profile.full_name}}</h4>
    <h6>{{user.user_profile.description|linebreaks}}</h6>
  </div>
</div><hr>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  New Post
</button><br>
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Post a Photo</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form method="POST" enctype='multipart/form-data'>
          {{form|crispy}}
          {% csrf_token %}

          <button type="submit" class='btn btn-primary btn-sm'>Publish</button>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div><br>
{% if user.post.count == 0 %}
<p class='alert alert-warning'>You didn't upload any photo before. Want to upload? <a href='' data-toggle="modal" data-target="#myModal">Upload</a></p>
{% else %}
<h3>Your previous uploads</h3>
{% endif %}

{% for post in user.post.all %}
<div class="crop">
  <a href="/media/{{post.image}}"><img src="/media/{{post.image}}" title="{{post.caption}}"></a>
</div>
{% endfor %}

<br><br><br>
{% endblock %}
